<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>SheckServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.hand.servlet.SheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FilmServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.hand.servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.hand.servlet.DeleteServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>SheckServlet</servlet-name>
    <url-pattern>/SheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>
